<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<ul>
  <li *ngFor="let user of data ">{{user.name}}</li>
  </ul>
  <form [formGroup]='userForm' (ngSubmit)='formSubmit()'> 
    <label>User name</label><br>
    <input type='text' formControlName='name'>
    <br>
    <label>age</label><br>
    <input type='text' formControlName='age'>
    <br>
    <label>email</label><br>
    <input type='text' formControlName='email'><br>
    <input type='submit' value='submit'>
  </form>